<a href="https://colab.research.google.com/github/Thurunany/Introducao-Data-Science/blob/main/FilmeData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd

notas = pd.read_csv("ratings.csv")
notas.head()

   userId  movieId  rating    timestamp
0       1        1     4.0  964982703.0
1       1        3     4.0  964981247.0
2       1        6     4.0  964982224.0
3       1       47     5.0  964983815.0
4       1       50     5.0  964982931.0

In [7]:
notas.shape

(43084, 4)

In [8]:
notas.columns = ["usuarioId", "filmeId", "nota", "momento"]
notas.head()

   usuarioId  filmeId  nota      momento
0          1        1   4.0  964982703.0
1          1        3   4.0  964981247.0
2          1        6   4.0  964982224.0
3          1       47   5.0  964983815.0
4          1       50   5.0  964982931.0

In [9]:
notas['nota']

0        4.0
1        4.0
2        4.0
3        5.0
4        5.0
        ...
43079    4.5
43080    3.5
43081    3.5
43082    2.5
43083    4.0
Name: nota, Length: 43084, dtype: float64

In [11]:
notas['nota'].unique()

array([4. , 5. , 3. , 2. , 1. , 4.5, 3.5, 2.5, 0.5, 1.5])

In [12]:
notas['nota'].value_counts()

4.0    11781
3.0     8533
5.0     6093
3.5     5408
4.5     4055
2.0     3085
2.5     1990
1.0     1131
1.5      535
0.5      473
Name: nota, dtype: int64

In [13]:
notas['nota'].mean()

3.5669506081143814